DATABASE_URL="postgresql://dig:dig@localhost:5432/dig_stellar?schema=public"

STELLAR_RPC_URL="https://soroban-rpc.mainnet.stellar.gateway.fm"
STELLAR_NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"

BLEND_POOL_ID="CCCCIQSDILITHMM7PBSLVDT5MISSY7R26MNZXCX4H7J5JQ5FPIYOGYFS"

# optionnal, if not set, the backstop will be disabled
BLEND_BACKSTOP_ID="CCCCIQSDILITHMM7PBSLVDT5MISSY7R26MNZXCX4H7J5JQ5FPIYOGYFS"